@page {
    size: letter;
}

body {
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-size: 12px;
}

.titles-style {
    color: #030000;
    font-size: 16px;
    font-weight: bold;
}

.students_table {
    padding-top: 0px;
    width: 100%;
    font-size: 10px;
    color: black;
    font-style: normal;
    border-spacing: 0px;
}

.students_table th {
    background-color: rgb(149, 149, 149);
}

.students_table td {
    background-color: rgb(203, 200, 200);
}

.logo {
    width: 100%;
    height: 70px;
}